<div class="bg-secondary">
    <div class="d-flex justify-content-between px-4 py-2">
        <div class="text-warning">
            Cinema
        </div>
        <div class="d-flex">
            <p>
                <a class="mr-2" routerLink="/">Home</a>
            </p>
            <p>
                <a  class="mr-2" routerLink="/movie">Movie</a>
            </p>
            <p>
                <a class="mr-2" routerLink="checkout">Checkout</a>
            </p>
        </div>
    </div>
</div>

<!-- Thêm  <router-outlet></router-outlet> và header quay lại main-routing.module -->
<router-outlet></router-outlet>